<div class="container-general">
  {{>navbar}}
  <div class="products-main-container">
  <div class="paginacion-categorias">
    <h4>Generos:</h4>
    <a href="/products?query=pop">Pop</a>
    <a href="/products?query=rock">Rock</a>
    <a href="/products?query=jazz">Jazz</a>
    <div class="sort">
      <p>Sort by Price</p>
      <div class="btn-sort general-buttons">
        <a title="Ascendente" href="/products?sort=asc"><i
            class="bi bi-caret-up-fill icono-price"
          ></i></a>
        <a title="Descendente" href="/products?sort=desc"><i
            class="bi bi-caret-down-fill icono-price"
          ></i></a>
      </div>
    </div>
  </div>
<div class="container-lista">
  {{#each listadeproductos}}
  <div class="card-link">
    <a href="/product/{{this._id}}">
        <div class="card-header">
          <div class="card-header-code">
            <i class="bi bi-tag"></i>
            Code: {{this.code}}
          </div>
          <div class="card-content unset-width">
            <div class="card-body center">
              <h3 class="card-title">{{this.title}}</h3>
              <ul class="list-product">
                <li class="price">
                  <i class="bi bi-currency-dollar icono-price"></i>
                  {{this.price}}
                </li>
              </ul>
              <div class="container-img">
                <img src="{{this.thumbnail}}" alt="{{this.title}}" class="card-img" />
              </div>
            </div>
          </div>
        </div>
    </a>
    <div class="btn-container">
    {{#unless (eq this.owner ../email)}}
      <button class="agregar-btn general-buttons" type="submit" id="add-btn" onclick="agregarAlCarrito('{{this._id}}', '{{../cartId}}')" value="{{this._id}}">Agregar al carrito</button>
    {{/unless}}
    </div>
    </div>

  {{/each}}
</div>

  </div>
</div>
<div class="paginacion">
    {{#if hasPrevPage}}
      <a title="Primera pagina" href="/products?pagina=1"><i
          class="bi bi-arrow-bar-left icono-price"
        ></i></a>
    {{/if}}
    {{#if hasPrevPage}}
      <a title="Pagina anterior" href="/products?pagina={{prevPage}}"><i
          class="bi bi-arrow-left icono-price"
        ></i></a>
    {{/if}}
    <p class="page">Pagina {{page}}</p>
    {{#if hasNextPage}}
      <a title="Pagina siguiente" href="/products?pagina={{nextPage}}"><i
          class="bi bi-arrow-right icono-price"
        ></i></a>
    {{/if}}
    {{#if hasNextPage}}
      <a title="Ultima pagina" href="/products?pagina={{totalPages}}"><i
          class="bi bi-arrow-bar-right icono-price"
        ></i></a>
    {{/if}}
</div>


<script src="/js/home.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>