<div class="container-general">
  <h1 class="titulo">Product detail</h1>
  <div class="container-lista">
    <div class="card">
      <div class="card-header width-100">
        <div class="card-header-code">
          <i class="bi bi-tag"></i>
          Code:
          {{product.code}}
        </div>
        <div class="card-body center mt-1rem">
          <h3 class="card-title">{{product.title}}</h3>
          <ul class="card-list-text center">
            <li><i class="bi bi-file-text icono-price"></i>{{product.description}}</li>
            <br />
            <li><i class="bi bi-box icono-price"></i> Stock: {{product.stock}}</li>
            <br />
            <li class="price"><i class="bi bi-currency-dollar icono-price"></i>{{product.price}}</li>
            {{!-- <li><i class="bi bi-grid"></i> Category: {{product.category}}</li>
                        <li><i class="bi bi-check-circle"></i> Status: {{product.status}}</li> --}}
          </ul>
          <div class="container-img">
            <img src="{{product.thumbnail}}" alt="{{product.title}}" class="card-img" />
          </div>
          <div class="btn-container">
    {{#unless (eq product.owner email)}}
            <button
              class="agregar-btn general-buttons"
              type="submit"
              id="add-btn"
              onclick="agregarAlCarrito('{{product._id}}', '{{cartId}}')"
              value="{{product._id}}"
            >Agregar al carrito</button>
            {{/unless}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/home.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>